HOSTNAME= # mandatory, external HTTPS gateway pointing to the server
DATABASE_URL= # mandatory
BOT_TOKEN= # mandatory, as given by @BotFather
MAPS_API_KEY= # mandatory, must be an 'API Key', with access to Time Zone API (https://console.developers.google.com/apis/library/timezone-backend.googleapis.com)
SENTRY_DSN= # optional
PORT=8000 # mandatory, listening port for the HTTP server
